<div class="well">
    <div class="form-group">
        <label for="taskTopic">@LabelsRes.Topic</label>
        <input type="text" id="taskTopic" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="taskText">@LabelsRes.Text</label>
        <textarea id="taskText" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" id="addTask" type="button">@ButtonsRes.Add</button>
</div>
